* {
  /* font-family: 'Times New Roman', Times, serif; */
  margin: 0;
  padding: 0;
}

/* header section */

.container{
  background-color: linear-gradient(to bottom, rgba(7, 2, 17, 100), rgba(7, 2, 17, 0)),
  ;
  width: auto;
  height: 600px;
  background-size: cover;
  color: white;
  padding-top: 50px;
  padding-left: 180px;
  position: relative;
}
/* img {
  padding-left: 90px;
  padding-top: 50px;
} */

.gradient {
  background-image:  linear-gradient(to bottom, rgba(7, 2, 17, 100), rgba(7, 2, 17, 0));
  width: 1320px;
  height: 600px;
  position: absolute;
  border-radius: 20px;
}

.title {
  color: aliceblue;
  padding-left: 385px;
  padding-top: 187px;
  position: absolute;
  text-align: center;
  font-family: "Merriweather", 'Times New Roman', Times, serif;

}

.title p {
  font-size: 72px;
  font-weight: 700;
  padding-top: 16px;
  }

  /* discount section */

  .discount {

    margin-top: 116px;
     padding-left: 600px; 
     margin-bottom: 48px;
     font-family: 'Times New Roman';
   
  }

  .discount h1 {
    margin-bottom: 32px;
    font-size: 88px;
    color: red;
  }
  .discount h6 {
    color: red;
    font-size: 23px;
  }

  .discount h4 {
    font-size: 48px;
    margin-top: 16px;
  }

  .discount-Section img {
   padding-left: 420px;
  }

  /* MID night party section */

  .party{
    padding-left: 180px;
    padding-top: 69px;
    padding-bottom: 171px;
    position: relative;
   
  }

  .gradient-party {
    background-image:  linear-gradient(to right, rgba(7, 2, 17, 100), rgba(7, 2, 17, 0));
    width: 1320px;
    height: 600px;
    position: absolute;
    border-radius: 20px;

  }

  .gradient-party img {

    padding-left: 920px;
    padding-top: 60px;
  }

  .join {
    position: absolute;
    color:white;
    text-align: left;
  margin-left: 100px;
 
  top: 25%;
  margin-bottom:30px;
  
  }

  .join h1{
    font-size: 64px;
    
    
  }

  .join p {
    font-size: 15px;
    font-weight:lighter;
    padding-top:24px;
  }
  .join-now{
    padding-top: 24px;
    padding-left: 20px;
    font-size: 20px;
  }

  /* location section */

  .location {
    background-image:  linear-gradient(to bottom, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0));
    height: 482px;
    width: 1320px;
    border-radius: 16px;
    padding-top: 50px;
    margin-left: 180px;
    padding-bottom: 120px;

  }
  .location-details {
    padding-left: 40px;
    padding-top: 100px;
    text-align: center;
    
    
  }
  .color {
    color: red;
    font-size: 32px;
    font-weight: bold;
    padding-top: 120px;
    
  }

  .location p {
    font-size: 32px;
    padding-bottom: 10px;
    font-weight: bold;
  }

  .btn {
    
    color: aliceblue;
    background: red;
    border-radius: 8px;
    margin-top: 48px;
    text-align: center;
    width: 167px;
    height: 56px;
    border-style: none;
    font-size: 20px;
    
  }

  /* happy newe year section */

  .new-year-offer {

  display: flex;
  justify-content: space-between;
  padding-left: 180px;
  /* padding-top: 120px; */
  padding-right: 180px;
  }

.soon {

 font-size: 48px;
 font-weight: bold;
 padding-top: 10px;
 padding-bottom: 10px;


 }

 .desc {
  font-size: 15px;
  font-weight: lighter;
  color: gray;
  padding-top: 10px;
  padding-bottom: 10px;
 }

 .circle {

  height: 380px;
  width: 422px;
  border: 10px solid red;
  border-radius: 50%;
  padding-top: 20px;
  align-items: center;
  
  }

  
  .circle img {
     padding-left: 30px; 
     padding-bottom: 10px;
     
    

  }

  /* holiday sale section */

  .sale-desc{
    text-align: center;
    padding-top: 120px;
    font-family: "Merriweather";
  }
  .sale-desc h5{
    font-size: 24px;
    padding-bottom: 10px;

  }
  .sale-desc h2 {
    font-size: 72px;
  }

  .sale-desc span {
    font-size: 72px;
  }

  .sale-image {
    display: flex;
    position: absolute;
    padding-top: 90px;
  }
 .discount-img{
  height: 190px;
  width: 200px;
 padding-top: 80px;
  position: absolute;
  padding-left: 900px;

 }
 .gift{
  position: absolute;
  height: 229px;
  width: 100px;
  padding-left: 180px;
  padding-top: 90px;
 }
 .rec-2{
  height: 229px;
  width: 1320px;
  padding-left: 180px;
  padding-top: 522px;

 }

 .girls-image{
   
  margin-left: 1071px;

 }

 /* portflio section */

 .portfolio {

  padding-top: 1000px;
  padding-left: 180px;
 }

 .portfolio h5 {
  color: red;
  font-size: 24px;
 }

 .portfolio h2 {
  font-size: 48px;
  padding-top: 10px;
 }

 .image-portfolio {
     display: flex;
     justify-content: space-between;
     padding-right: 180px;
     padding-top: 48px;
      
 }

 .image-portfolio-2 {
  display: flex;
     justify-content: space-between;
     padding-right: 180px;
     padding-top: 48px;
     padding-bottom: 120px;

 }


 .subscription {
  padding-top: 120px;
  text-align: center;
  
 }

 .subscription h2 {
  font-size: 48px;
  padding-top: 10px;
 }
 .subscription p {
  color: gray;
  font-size: 20px;
  font-weight: 100;
  padding-top: 10px;
 }

 /* .subscribe {
  padding-top: 48px;
  display: flex;
  justify-content: space-around;
  padding-left: 336px;
  position: absolute;

  text-align: center;
  border-radius: 50px;
  
  height: 10px;
  width: 648px;
  
  
 } */
 .subscribe {
  display: flex;
  /* text-align: center; */
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 120px;
}
 .subscribe input {
  border: none;
  color: aliceblue;
  height: 60px;
  width: 500px;
  border-radius: 50px;
  position: absolute;
  /* padding-left: 200px; */
  margin-left: 100px;
  padding-left: 30px;


 }
 .subscribe input::placeholder{
   font-size: 18px;
   padding-right: 1000px;
 }


 .button {
  color: white;
  border-radius: 0px 50px 50px 0px;
  height: 60px;
  width: 170px;
  position: relative;
  background-color: red;
  border: none;
  font-size: 20px;
  text-align: center;

  }

  /* footer */

  .footer {
    background-color: black;
    /* height: 609px; */
    padding-top: 120px;
    color: aliceblue;
    padding-bottom: 5px;
    margin: 0 auto; 
  }
  .footer-content{
    display: flex; 
     justify-content: space-between;

  }
 .footer p {
  padding-left: 180px;
 } 

 .Call {
  display: flex;
  padding-right: 275px;
  
  
 }
 .Call p {
  padding-left: 10px;
 }

 .social-media {
  display: flex;
 justify-content:space-between;
 padding-left: 700px;
 padding-right: 700px;

 padding-top: 100px ;
 
 
 }
 .copyright {
  margin-right: 140px;
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  
 }